apiVersion: apps/v1
kind: Deployment
metadata:
  name: truenas-csp
  labels:
    {{- include "truenas-csp.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "truenas-csp.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "truenas-csp.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "truenas-csp.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: {{ .Values.images.trueNasCSP }}
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          env:
            - name: DEFAULT_TARGET_PORTAL
              value: "{{ .Values.targetPortal }}"
          {{ if .Values.logDebug -}}
            - name: LOG_DEBUG
              value: "1"
          {{- end }}
          {{ if eq .Values.optimizeFor "FreeNAS" -}}
          command:
            - /app/bin/gunicorn
          args:
            - "--bind=0.0.0.0:8080"
            - "--workers=1"
            - "--threads=1"
            - "--timeout=60"
            - "--preload"
            - "csp:SERVE"
          {{- end }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          readinessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 20
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
